
<div>
	<%= link_to "Back", admin_groups_path%>
	<%= link_to "new Group", new_admin_group_path%>
	<%= link_to "new Item", new_admin_item_path%>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>No.</th>
			<th>Name</th>
			<th>Priority</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @groups.each do |group| %>
			<tr>
				<td><%= group.id %></td>
				<td><%= group.name %></td>
				<td><%= group.priority %></td>
				<td>
					<%= link_to "Edit", edit_admin_group_path(group) %>
					<%= link_to "Show", admin_group_path(group) %>
					<%= link_to "Delete", admin_group_path(group.id), method: :delete, confirm: "Are you sure you want to delete this item?"  %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>