<!DOCTYPE html>
<html>
<head>
  <title>Tender DG Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/admin_header' %>
	<div class="container">
		<%= yield %>
	</div>
	<%= render 'shared/admin_footer' %>
</body>
</html>
